<!DOCTYPE html>
<html>
<head>
	<title>Sound Shapers</title>
	<script src="howler.js"></script>
</head>
<body>
	<button><%= link_to "Log Out", logout_path %></button>
	<h1>Shape me, loves.</h1>
	<div id="sounds-container">
		<div id="global-buttons">
			<button id="play-all">Play All Tracks</button>
			<button id="reset-all">Reset All Tracks</button>
		</div>
		<div id="mute-buttons">
			<button id="mute-guitar">Mute Guitar</button>
			<button id="mute-piano">Mute Piano</button>
			<button id="mute-drums">Mute Drums</button>
			<button id="mute-bass">Mute Bass</button>
		</div>
		<div id="unmute-buttons">
			<button id="unmute-guitar">Unmute Guitar</button>
			<button id="unmute-piano">Unmute Piano</button>
			<button id="unmute-drums">Unmute Drums</button>
			<button id="unmute-bass">Unmute Bass</button>
		</div>
		<div id="fade-in-buttons">
			<button id="fade-in-guitar">Fade In Guitar</button>
			<button id="fade-in-piano">Fade In Piano</button>
			<button id="fade-in-drums">Fade In Drums</button>
			<button id="fade-in-bass">Fade In Bass</button>
		</div>
		<div id="fade-in-buttons">
			<button id="fade-out-guitar">Fade Out Guitar</button>
			<button id="fade-out-piano">Fade Out Piano</button>
			<button id="fade-out-drums">Fade Out Drums</button>
			<button id="fade-out-bass">Fade Out Bass</button>
		</div>

	</div>
	<script src="sounds.js"></script>
</body>
</html>