<!DOCTYPE html>
<html>
<head>
	<title>Sound Shapers</title>
	<script src="howler.js"></script>
	<script src="pedalboard.js"></script>
	<script src="/dancer/dancer.js"></script>
</head>
<body>
	<button><%= link_to "Log Out", logout_path %></button>
	<h1>Shape me, loves.</h1>
	<div id="sounds-container">
		<div id="global-buttons">
			<button id="play-all">Play All Tracks</button>
			<button id="pause-all">Pause All Tracks</button>
			<button id="reset-all">Reset All Tracks</button>
			<button id="fade-out">Fade Out</button>
		</div>
		<div id="mute-buttons">
			<button id="mute-guitar">Mute Guitar</button>
			<button id="mute-piano">Mute Piano</button>
			<button id="mute-drums">Mute Drums</button>
			<button id="mute-bass">Mute Bass</button>
		</div>
		<div id="effects">
			<button id="overdrive-guitar">Overdrive Guitar</button>
			
		</div>
	</div>

	<div id="visions">
	
	</div>
	
	<script src="sounds.js"></script>
	<script src="effects.js"></script>
	<script src="visualizations.js"></script>
</body>
</html>