@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Sonsie+One);

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$container-color: #FF5939;
$bojay-gray: #D8D5DB;

@mixin rounded-edges($radius){
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

#banner {
  font-family: 'Sonsie One', cursive;
  font-size: 25px;
  width: 100%;
  margin-top: 30px;
  color: #FFF0B4;
  text-shadow: -1px 0 $primary-color, 0 1px $primary-color, 1px 0 $primary-color, 0 -1px $primary-color;

}

html{
  background-image: url("https://pixabay.com/static/uploads/photo/2015/11/09/16/47/background-1035489_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
  margin-left: auto;
  margin-right: auto; 
  width: 960px;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  text-align: center;
  font-family: 'Poiret One', cursive;

}

#welcome-wagon {
	border: solid 4px black;
	width: 80%;
	background-color: $container-color;
  position: absolute;
  left:50%;
  top:50%;
  width:330px;
  height:350px;

  margin-left:-160px; 
  margin-top:-110px;
  @include rounded-edges(40px); 
	
}

.login {
	list-style-type: none;
   
  @include rounded-edges(10px);

}

.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Poiret One', cursive;;
  color: #1a1a14;
  font-size: 16px;
  background: #e8a7a7;
  padding: 7px 9px 6px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #fca63c;
  text-decoration: none;
}


#sounds-container {
  border: solid 1px black;
  width: 80%;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Picture_of_tree_bark_(kora).jpg/640px-Picture_of_tree_bark_(kora).jpg');
  position: absolute;
  left:50%;
  top:50%;
  width:840px;
  height:430px;

  margin-left:-419px; 
  margin-top:-170px;
  @include rounded-edges(50px); 
  
}

#global-controls {

  width:940px;
  height:150px;
  margin-left: -29px; 
  margin-top: 30px;

}

#mute-buttons {

  width:890px;
  height:50px;
  margin-left: -29px; 
  margin-top: -10px;
}

#effects {

  width:140px;
  height:120px;
  margin-left: 329px; 
  margin-top: 30px;
}

.control-btn {
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Sonsie One', cursive;
  color: #FFF0B4;
  font-size: 24px;
  background: #1a0505;
  padding: 9px 13px 7px 6px;
  text-decoration: none;
  @include rounded-edges(10px);
}

.control-btn:hover {
  background: #c2c202;
  text-decoration: none;
}


.sound-btn {
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Sonsie One', cursive;
  color: #FFF0B4;
  font-size: 15px;
  background: #1a0505;
  padding: 7px 9px 6px 10px;
  text-decoration: none;
  @include rounded-edges(10px);
}

.sound-btn:hover {
  background: #e8a7a7;
  text-decoration: none;
}


.overdrive {
  background: #1a0505;
  font-family: 'Sonsie One', cursive;
  color: #FFF0B4;
  font-size: 20px;
  padding: 19px 20px 19px 20px;
  text-decoration: none;
}

.overdrive:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}