$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$container-color: #B20000;
@mixin rounded-edges($radius){
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

html{
  background-image: url("https://pixabay.com/static/uploads/photo/2015/11/09/16/47/background-1035489_960_720.jpg");
  background-repeat: no-repeat;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: orange;
  text-align: center;

}

#welcome-wagon {
	border: solid 4px darken($container-color, 10%);
	width: 80%;
	background-color: $container-color;
    position: absolute;
    left:50%;
    top:50%;
    width:300px;
    height:300px;

    margin-left:-150px; /* -1/2 width */
    margin-top:-150px;
    @include rounded-edges(40px); 
	
}

.login {
	list-style-type: none;
   
    @include rounded-edges(10px);

}
